<ion-view>
  <ion-nav-title>
    {{ "news_and_events" | translate }}
  </ion-nav-title>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="news in vm.news" type="item-text-wrap" href="#/tab/news/{{news.id}}" ng-click="vm.newsDetail(news)">
        <img ng-src="{{news.photos[0]}}" src="images/spinner.gif">
        <h2>
          {{news.title}}
        </h2>
        <p>
          {{news.caption}}
        </p>
        <i class="ion-clock" ng-hide="{{!news.expire}}">
          Data do evento: {{news.expire}}
        </i>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
