<ion-view view-title="{{ MainTitle | translate }}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-chatbubbles" ng-click="openLanguageList($event)"></button>
  </ion-nav-buttons>

  <!-- <ion-header-bar class="bar bar-subheader bar-energized">
    <h4 class="caption">{{ }}</h4>
  </ion-header-bar> -->

  <ion-content >
    <div id="map">
      <leaflet lf-center="vm.mapCenter" markers="vm.centers" event-broadcast="vm.events" height="100%" width="100%"></leaflet>
    </div>


    <ion-list>

      <div class="tabs">
        <div class="item item-divider">
          Ordenar por:
        </div>
        <a class="tab-item" ng-click="reorder('distance')">
          Distância
        </a>
        <a class="tab-item" ng-click="reorder('name')">
          Nome
        </a>
        <a class="tab-item" ng-click="reorder('restaurants')">
          Restaurantes
        </a>
      </div>
       <!-- | orderBy:'distance' -->
      <ion-item class="item-thumbnail-left item-icon-right" collection-repeat="center in vm.centers" href="#/tab/restaurants/{{center.id}}" ng-click="vm.saveCenter(center)" nav-direction="forward">
        <img class="media-object pull-left" ng-src={{center.photoUrl}} width="80" height="80">
        <h2 class="text-bold">{{center.title}}</h2>
        <i class="ion-location"></i> {{center.distance}} km
        <span class="badge badge-assertive">{{center.restaurants}}</span>
        <i class="icon ion-arrow-right-c"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
