<ion-view view-title="{{ 'main_title' | translate }}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-chatbubbles" ng-click="popover.show($event)"></button>
  </ion-nav-buttons>

  <!-- <ion-header-bar class="bar bar-subheader bar-energized">
    <h4 class="caption">{{ }}</h4>
  </ion-header-bar> -->

  <ion-content >

    <div class="Message-bar" ng-class="{'alert-bar': message.type=='alert', 'green-bar': message.type=='green'}" ng-if="message">
      {{ message.text | translate }}
    </div>

    <div id="map">
      <leaflet lf-center="vm.mapCenter" markers="vm.centers" event-broadcast="vm.events" height="100%" width="100%"></leaflet>
    </div>

    <div class="tabs-bar">
      <div class="tabs">
        <div class="item item-divider">
          <i class="icon ion-shuffle"></i>
        </div>
        <a class="tab-item" ng-click="vm.reorder('name')">
          {{ 'name' | translate }}
        </a>
        <a class="tab-item" ng-click="vm.reorder('distance')">
          {{ 'distance' | translate }}
        </a>
        <a class="tab-item" ng-click="vm.reorder('restaurants')">
          {{ 'restaurants' | translate }}
        </a>
      </div>
    </div>

    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="center in vm.centers track by center.id" href="#/tab/restaurants/{{center.id}}" ng-click="vm.saveCenter(center)" ngfx-bounce-in="vm.mixing" ngfx-bounce-out="!vm.mixing">
        <img class="media-object pull-left" ng-src={{center.photoUrl}} width="80" height="80">
        <h2 class="text-bold">{{center.title}}</h2>
        <i class="ion-location"></i> {{center.distance}} km
        <span class="badge badge-assertive">{{center.restaurants}}</span>
        <i class="icon ion-arrow-right-c"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
