
<ion-tabs class="tabs-energized">

  <!-- Restaurants List Tab -->
  <ion-tab title="Restaurantes" icon-off="ion-ios-wineglass-outline" icon-on="ion-ios-wineglass" href="#/tab/restaurants">
    <ion-nav-view name="tab-restaurants"></ion-nav-view>
  </ion-tab>

  <!-- News and Events Tab -->
  <ion-tab title="Notícias" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/news" ng-if="hasNews">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Disabled Events Tab -->
  <!-- <ion-tab title="Eventos" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
