<ion-view title="{{vm.center.title}}">

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-chevron-left" ng-click="vm.backToCenters()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-chatbubbles" ng-click="vm.openLanguageList($event)"></button>
  </ion-nav-buttons>

  <ion-content>

    <div id="map">
      <leaflet lf-center="vm.mapCenter" markers="vm.restaurants" height="100%" width="100%"></leaflet>
    </div>

    <div id="more_info" class="subsection">
      <div class="item item-divider" style="text-align:center">
        {{getMoreInfoText()}}
      </div>
      <div class="list">
        <div class="item item-icon-left" ng-show="vm.center.openHours">
          <i class="icon ion-clock"></i>
          {{vm.center.openHours}}
        </div>
        <a class="item item-icon-left" ng-show="vm.center.phone" ng-href="tel: {{vm.center.phone}}">
          <i class="icon ion-ios-telephone-outline"></i>
          {{vm.center.phone}}
        </a>
        <a class="item item-icon-left" ng-show="vm.center.homepage" ng-click="openBrowser(vm.center.homepage)">
          <i class="icon ion-ios-home-outline"></i>
          {{vm.center.homepage}}
        </a>

        <p class="description_container" ng-class="{show_more: vm.isMoreInfoShown}">{{vm.center.text}}

        </p>
        <button class="button button-small button-full icon" ng-class="{'ion-minus': vm.isMoreInfoShown, 'ion-plus': !vm.isMoreInfoShown }" ng-click="vm.showInfo()"></button>

      </div>
    </div>

  <ion-list>
    <!-- ITEM HEADER -->
    <div class="list list-inset list-rounded" ng-repeat="restaurant in vm.restaurants">
      <div class="item-header item item-icon-right" ng-click="vm.toggleGroup(restaurant)" ng-class="{active: vm.isGroupShown(restaurant)}">
        <img class="icon" src="images\m4t.png" style="padding:7px;" ng-hide="!restaurant.M4T">
        <h3 class="iten-text-wrap text-bold">{{restaurant.title}}</h3>
      </div>
      <!-- EXPANDABLE AREA -->
      <div class="item item-stable item-accordion note note-rounded" ng-show="vm.isGroupShown(restaurant)" ngfx-fade-in="vm.isGroupShown(restaurant)" ngfx-fade-out="!vm.isGroupShown(restaurant)">
        <img ng-src="{{restaurant.photoUrl}}" style="width:100%">

        <ion-list class="list-inset">
          <a class="item item-icon-left info-item info-alert restaurant-text item-text-wrap" href="#" ng-hide="!restaurant.M4T">
            <i class="icon ion-alert"></i>
            Esse restaurante possui o cardápio traduzido.
          </a>
          <ion-item class="info-item restaurant-text item-text-wrap">
            {{restaurant.description}}
          </ion-item>
          <ion-item class="item-icon-left info-item restaurant-text item-text-wrap">
            <i class="icon ion-clock"></i>
            {{restaurant.openHours}}
          </ion-item>
          <ion-item class="item-icon-left info-item restaurant-text item-text-wrap">
            <i class="icon ion-ios-telephone"></i>
            {{restaurant.phone}}
          </ion-item>
          <ion-item class="item-icon-left info-item restaurant-text item-text-wrap">
            <i class="icon ion-location"></i>
            {{restaurant.address}}
          </ion-item>
        </ion-list>

        <button class="button button-full button-positive" ng-hide="!restaurant.M4T">
          Ir para o Menu for Tourist
        </button>
      </div>
    </div>
   </ion-list>
  </ion-content>
</ion-view>
